<div class="preference-Main-Div">
  <div class="row container valign-wrapper">
    <div class="col s10">
      <table class="highlight">
        <thead>
        <tr>
          <td>Sports auquels vous êtes inscrits</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sportUser of showUserSports">
          <td>{{sportUser.label}}</td>
          <td>
            <a class="btn blue" (click)="deleteSportToUser(sportUser.id)">-</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row container valign-wrapper">
    <div class="col s10">
      <table class="highlight">
        <thead>
        <tr>
          <td>Selectionner des sport dans la liste ce dessous</td>
        </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row container valign-wrapper">
    <div class="col s9">
      <mz-select-container>
        <select mz-select
                id="sport-select"
                [placeholder]="'Sport'"
                [(ngModel)]="selectedSportId"
                (change)="sportChange($event)"
        >
          <option *ngFor="let sport of sports" [value]="sport.id">{{sport.label}}</option>
        </select>

      </mz-select-container>
    </div>
    <div class="col s0">
      <a class="btn blue" (click)="addSportToUser()">+</a>
    </div>
  </div>

</div>
