<div class="homePageMainDiv">
  <div class="row container valign-wrapper">
    <div class="col s4">
      <mz-select-container>
        <select mz-select
                id="sport-select"
                [placeholder]="'Sport'"
                [(ngModel)]="selectedSportId"
                (change)="sportChange($event)"
        >
          <option *ngFor="let sport of sports" [value]="sport.id">{{sport.label}}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="col s4">
      <mz-select-container>
        <select mz-select
                id="lieu-select"
                [placeholder]="'Lieux'"
                [(ngModel)]="selectedLieux"
        >
          <option *ngFor="let lieux of lieuSport" [value]="lieux.id.codePostal" >{{lieux.id.labelVille}}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="col s4">
      <a class="btn blue darken-2" (click)="click()">Get result</a>
    </div>
  </div>
  <table class="highlight container responsive-table">
    <tbody>
    <tr *ngFor="let weather of weatherList" >
      <td >Date: {{weather['dt_txt']}}</td>
      <td >Temperature: {{weather['main']['temp']}}</td>
      <td>Description: {{weather['weather'][0]['description']}} </td>
      <td> {{selectedSport.temperatureMin}} {{selectedSport.temperatureMax}}</td>
      <td>
        <img *ngIf="weather['main']['temp'] > selectedSport.temperatureMin && weather['main']['temp'] < selectedSport.temperatureMax; else elseBlock" src="../../assets/images/emoji-leger-sourire-1F642.png" width="40" height="40"/>
        <ng-template #elseBlock>
          <img src="../../assets/images/emoji-sourcils-fronces-2639.png" width="40" height="40"/>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>

</div>
